<div class="notebook-container">
	<div class="notebook-panel-container">
		<div class="notebook-panel">
			<%= link_to(notebook_path(notebook[:id]), { class:"notebook-panel-item", 'data-toggle':"tooltip", 'data-placement':"left", title:"Open" }) do %>
				<i class="material-icons-sharp my-auto">open_in_new</i>
			<% end %>
			<% if current_user.try(:id) == notebook[:owner] %>
				<%= link_to(edit_notebook_path(notebook[:id]), { class:"notebook-panel-item", 'data-toggle':"tooltip", 'data-placement':"left", title:"Edit" }) do %>
					<i class="material-icons-sharp my-auto">edit</i>
				<% end %>
				<%= link_to(notebook_path(notebook[:id]), { method: :delete, class:"notebook-panel-item", 'data-toggle':"tooltip", 'data-placement':"left", title:"Delete" }) do %>
					<i class="material-icons-sharp my-auto">delete</i>
				<% end %>
			<% end %>
		</div>
		<div class="notebook-panel-shade"></div>
	</div>
	<div class="notebook-content-container">
		<div class="notebook-content">
			<div class="text-center mx-1 my-2"><%= @notebook_owner = User.where(id: notebook.owner).first; @notebook_owner ? @notebook_owner[:first_name] + " " + @notebook_owner[:last_name] : "" %></div> 
			<div class="text-center mx-1 my-2"><%= notebook.name %></div>
			<div class="text-center mx-1 my-auto"><%= notebook.description %></div>
			<div class="text-center mx-1 my-2"><% if notebook.private %><i class="material-icons-sharp">lock</i><% end %></div>
		</div>
		<div class="notebook-content-shade"></div>
	</div>
</div>