<!DOCTYPE html>
<html>
<head>
</head>

<body>
<div class="container-fluid padding" style="height:64px;"></div>

<!-- Notebook Heading -->
<div class="container-fluid padding">
<div class="row welcome text-center mb-2">
  <div class="col-12">
    <h1 class="display-4"><%= @notebook.name %></h1>
  </div>
</div>
</div>
<div class="container-fluid padding" style="height:64px;"></div>

<!-- Note Viewing Section -->
<div class="container-fluid padding">
<div class="row welcome text-center mb-2">
  <div class="col-12">
    <h3><% if @owner %>Your<% else %>User<% end %> Notes</h3>
  </div>
</div>
</div>

<div class="container-fluid padding">
<div class="row mx-2">
  <div class="col-12 mb-2">
    <% if @owner %>
      <%= link_to(new_notebook_note_path(@notebook.id), { class: "btn btn-sm btn-primary" }) do %>
        New Note
        <span class="badge badge-pill badge-light">40</span>
      <% end %>
    <% end %>
  </div>
  <hr>
  <div class="d-flex flex-row flex-wrap justify-content-center mx-auto w-100">
    <% @notes.each do |note| %>
      <div class="mx-4 my-2 w-100">
        <%= render :template => "layouts/_item_entry", :locals => { :note => note, :entry_type => "note" } %>
      </div>
    <% end %>
  </div>
</div>
</div>
<div class="container-fluid padding" style="height:64px;"></div>

<!-- Question Viewing Section -->
<div class="container-fluid padding">
<div class="row welcome text-center mb-2">
  <div class="col-12">
    <h3><% if @owner %>Your<% else %>User<% end %> Questions</h3>
  </div>
</div>
</div>

<div class="container-fluid padding">
<div class="row mx-2">
  <div class="col-12 mb-2">
    <% if @owner %>
      <%= link_to(new_notebook_question_path(@notebook.id), { class: "btn btn-sm btn-primary" }) do %>
        New Question
        <span class="badge badge-pill badge-light">25</span>
      <% end %>
    <% end %>
  </div>
  <hr>
  <div class="d-flex flex-row flex-wrap justify-content-center mx-auto">
    <% @questions.each do |question| %>
     
    <% end %>
  </div>
</div>
</div>
<div class="container-fluid padding" style="height:64px;"></div>

<!-- Test Viewing Section -->
<div class="container-fluid padding">
<div class="row welcome text-center mb-2">
  <div class="col-12">
    <h3><% if @owner %>Your<% else %>User<% end %> Tests</h3>
  </div>
</div>
</div>

<div class="container-fluid padding">
<div class="row mx-2">
  <div class="col-12 mb-2">
    <% if @owner %>
      <%= link_to(new_notebook_test_path(@notebook.id), { class: "btn btn-sm btn-primary" }) do %>
        New Test
        <span class="badge badge-pill badge-light">15</span>
      <% end %>
    <% end %>
  </div>
  <hr>
  <div class="d-flex flex-row flex-wrap justify-content-center mx-auto">
    <% @tests.each do |test| %>
     
    <% end %>
  </div>
</div>
</div>

<div class="container-fluid padding" style="height:64px;"></div>
</body>
</html>
