<!DOCTYPE html>
<html>
<head>
</head>

<body>
<!-- Registration Section -->
<div class="container-fluid  my-auto">
<div class="row text-center justify-content-center">
  <div class="col-12">
    <h1 class="display-4">Login</h1>
  </div>
  <hr>
  <div class="col col-sm-8" style="max-width: 512px;">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="input-group input-group-sm mb-2">
        <div class="input-group-prepend">
          <span class="input-group-text">Email</span>
        </div>
        <%= f.text_field :email, type: "text", class: "form-control", 'aria-label': "email", 'aria-describedby': "addon-wrapping", autofocus: true, autocomplete: "email" %>
      </div>

      <div class="input-group input-group-sm mb-2">
        <div class="input-group-prepend">
          <span class="input-group-text">Password</span>
        </div>
        <%= f.password_field :password, type: "password", class: "form-control", 'aria-label': "password", autocomplete: "current-password" %>
      </div>

      <div class="input-group input-group-sm mb-2">
        <%= f.submit "Login", class: "btn btn-sm btn-primary float-left mr-2" %>
        <% if devise_mapping.rememberable? %>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end %>
      </div>
      <%= render "users/shared/links" %>
    <% end %>
   </div>
</div>
</div>

</body>
</html>
