<div class="my-nav bg-color1 d-flex flex-row justify-content-start shadow sticky-top">
  <%= link_to(root_path, class: "my-nav-home d-flex flex-column justify-content-center text-center") do %>
    <center><i class="material-icons align-middle">home</i></center>
  <%  end %>
  <div class="my-nav-brand d-flex flex-column justify-content-center text-center">
    <%= $app_title %>
  </div>
  <%= link_to "Library", root_path, class: "my-nav-library d-flex flex-column justify-content-center text-center" %>
  <%= link_to "Pricing", root_path, class: "my-nav-pricing d-flex flex-column justify-content-center text-center" %>
  <%= link_to "Contact Us", root_path, class: "my-nav-contact d-flex flex-column justify-content-center text-center" %>
  <div class="d-flex flex-row justify-content-end flex-fill">
    <%= render "layouts/user_nav" %>
    <div class="my-nav-item-lg bg-color2 text-color2 d-flex flex-column justify-content-center text-center">
      <form class="form-inline mx-auto">
        <input class="form-control" type="search" placeholder="Courses, Notes, ..." aria-label="Search">
        <button class="btn" type="submit">
          <i class="material-icons align-middle">search</i>
        </button>
      </form>
    </div>
  </div>
</div>