<% if user_signed_in? %>
<%= link_to "My Notebooks", notebooks_user_path, class: "my-nav-notebooks d-flex flex-column justify-content-center text-center" %>
<%= link_to(root_path, {class: "my-nav-user d-flex flex-column justify-content-center text-center", 'data-toggle': "dropdown", 'aria-haspopup': "true", 'aria-expanded': "false"}) do %>
	<div class="block"><%=current_user[:username]%> <i class="material-icons align-middle">arrow_drop_down</i></div>
<% end %>
<div class="dropdown-menu">
	<%= link_to "Sign Out", destroy_user_session_path, { class: "dropdown-item", method: :delete } %>
</div>
<%= link_to(root_path, class: "my-nav-mail d-flex flex-column justify-content-center text-center") do %>
	<center><i class="material-icons align-middle">mail</i></center>
<% end %>
<%= link_to(root_path, class: "my-nav-options d-flex flex-column justify-content-center text-center") do %>
	<center><i class="material-icons align-middle">more_horiz</i></center>
<% end %>
<% else %>
<%= link_to "Login", new_user_session_path, class: "my-nav-login d-flex flex-column justify-content-center text-center" %>
<%= link_to "Sign Up", new_user_registration_path, class: "my-nav-signup d-flex flex-column justify-content-center text-center" %>
<%= link_to(root_path, class: "my-nav-options d-flex flex-column justify-content-center text-center") do %>
	<center><i class="material-icons align-middle">more_horiz</i></center>
<% end %>
<% end %>