<!DOCTYPE html>
<html class="h-100">
  <head>
    <title>Self-Taught Application</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="w-100 h-100 mh-100">
    <div class="d-flex justify-content-start flex-column  w-100 h-100">
      <%= render 'layouts/info_nav_top' %>
      <div class="w-100 flex-fill"><%= yield %></div>
      <div class="w-100"><%= render 'layouts/site_footer' %></div>
    </div>
  </body>
</html>
