<!DOCTYPE html>
<html class="h-100">
  <head>
    <title><%= $app_title %> Application</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="w-100 h-100 mh-100" style="background-color: #E2E2E2;">
    <div class="d-flex justify-content-start flex-column  w-100 h-100">
      <% if (0 != @navbars & ApplicationController::Navbar::FULL_TOP) %>
        <%= render 'layouts/full_top' %>
      <% end %>
      <div class="w-100 flex-fill"><%= yield %></div>
      <% if (0 != @navbars & ApplicationController::Navbar::FOOTER) %>
        <%= render 'layouts/footer' %>
      <% end %>
    </div>
  </body>
</html>
