<div class="note-entry-container">
<% if entry_type == "notebook" %>
	<!-- Notebook Entry -->
<% elsif entry_type == "note" %>
	<!-- Note Entry -->
	<div class="note-entry-panel-container note-entry-panel-left bg-primary">
		<div class="note-entry-panel note-entry-panel-left bg-primary">
			<%= link_to(notebook_note_path(note.notebook, note.id), { class:"note-entry-panel-item note-entry-panel-left", 'data-toggle':"tooltip", 'data-placement':"top", 'title':"Open" }) do %>
				<i class="material-icons-sharp my-auto">open_in_new</i>
			<% end %>
		</div>
		<div class="note-entry-panel-shade note-entry-panel-left"></div>
	</div>
	<div class="note-entry-panel-container bg-primary">
		<div class="note-entry-panel bg-primary">
			<% if current_user.try(:id) == note[:owner] %>
				<%= link_to(edit_notebook_note_path(note.notebook, note.id), { class:"note-entry-panel-item", 'data-toggle':"tooltip", 'data-placement':"top", 'title':"Edit" }) do %>
					<i class="material-icons-sharp my-auto">edit</i>
				<% end %>
			<% end %>
		</div>
		<div class="note-entry-panel-shade"></div>
	</div>
	<div class="note-entry-panel-container bg-primary">
		<div class="note-entry-panel bg-primary">
			<% if current_user.try(:id) == note[:owner] %>
				<%= link_to(notebook_note_path(note.notebook, note.id), { method: :delete, class:"note-entry-panel-item", 'data-toggle':"tooltip", 'data-placement':"top", 'title':"Delete" }) do %>
					<i class="material-icons-sharp my-auto">delete</i>
				<% end %>
			<% end %>
		</div>
		<div class="note-entry-panel-shade"></div>
	</div>
	<div class="note-entry-panel-container">
		<div class="note-entry-panel">
			<div class="note-entry-panel-item note-entry-panel-item-no-link">
				<p class="text-overflow text-secondary mx-2 my-auto" style="height:20px;"><b><%= note.name %></b></p>
			</div>
		</div>
		<div class="note-entry-panel-shade"></div>
	</div>
	<div class="note-entry-panel-container flex-fill">
		<div class="note-entry-panel w-100">
			<div class="note-entry-panel-item note-entry-panel-item-no-link w-100">
				<p class="text-overflow text-secondary mx-2 my-auto" style="height:20px;"><%= note.description %></p>
			</div>
		</div>
		<div class="note-entry-panel-shade w-100"></div>
	</div>
	<div class="note-entry-panel-container note-entry-panel-right bg-primary">
		<div class="note-entry-panel note-entry-panel-right bg-primary">
			<div class="note-entry-panel-item note-entry-panel-item-no-link note-entry-panel-right" data-toggle="tooltip" data-placement="top" title="Note" >
				<i class="material-icons-sharp mx-2 my-auto">
					description
				</i>
			</div>
		</div>
		<div class="note-entry-panel-shade note-entry-panel-right"></div>
	</div>
<% elsif entry_type == "question" %>
	<!-- Question Entry -->
	<div class="note-entry-panel-container note-entry-panel-left bg-primary">
		<div class="note-entry-panel note-entry-panel-left bg-primary">
			<%= link_to(notebook_question_path(question.notebook, question.id), { class:"note-entry-panel-item note-entry-panel-left", 'data-toggle':"tooltip", 'data-placement':"top", 'title':"Open" }) do %>
				<i class="material-icons-sharp my-auto">open_in_new</i>
			<% end %>
		</div>
		<div class="note-entry-panel-shade note-entry-panel-left"></div>
	</div>
	<div class="note-entry-panel-container bg-primary">
		<div class="note-entry-panel bg-primary">
			<% if current_user.try(:id) == question[:owner] %>
				<%= link_to(edit_notebook_question_path(question.notebook, question.id), { class:"note-entry-panel-item", 'data-toggle':"tooltip", 'data-placement':"top", 'title':"Edit" }) do %>
					<i class="material-icons-sharp my-auto">edit</i>
				<% end %>
			<% end %>
		</div>
		<div class="note-entry-panel-shade"></div>
	</div>
	<div class="note-entry-panel-container bg-primary">
		<div class="note-entry-panel bg-primary">
			<% if current_user.try(:id) == question[:owner] %>
				<%= link_to(notebook_note_path(question.notebook, question.id), { method: :delete, class:"note-entry-panel-item", 'data-toggle':"tooltip", 'data-placement':"top", 'title':"Delete" }) do %>
					<i class="material-icons-sharp my-auto">delete</i>
				<% end %>
			<% end %>
		</div>
		<div class="note-entry-panel-shade"></div>
	</div>
	<div class="note-entry-panel-container flex-fill">
		<div class="note-entry-panel w-100">
			<div class="note-entry-panel-item note-entry-panel-item-no-link w-100">
				<p class="text-overflow text-secondary mx-2 my-auto" style="height:20px;"><b><%= question.content %></b></p>
			</div>
		</div>
		<div class="note-entry-panel-shade"></div>
	</div>
	<div class="note-entry-panel-container note-entry-panel-right bg-primary">
		<div class="note-entry-panel note-entry-panel-right bg-primary">
			<div class="note-entry-panel-item note-entry-panel-item-no-link note-entry-panel-right" data-toggle="tooltip" data-placement="top" title="Question" >
				<i class="material-icons-sharp mx-2 my-auto">
					question_answer
				</i>
			</div>
		</div>
		<div class="note-entry-panel-shade note-entry-panel-right"></div>
	</div>
<% elsif entry_type == "test" %>
	<!-- Test Entry -->
	<div class="note-entry-panel-container note-entry-panel-left bg-primary">
		<div class="note-entry-panel note-entry-panel-left bg-primary">
			<%= link_to(notebook_test_path(test.notebook, test.id), { class:"note-entry-panel-item note-entry-panel-left", 'data-toggle':"tooltip", 'data-placement':"top", 'title':"Open" }) do %>
				<i class="material-icons-sharp my-auto">open_in_new</i>
			<% end %>
		</div>
		<div class="note-entry-panel-shade note-entry-panel-left"></div>
	</div>
	<div class="note-entry-panel-container bg-primary">
		<div class="note-entry-panel bg-primary">
			<% if current_user.try(:id) == test[:owner] %>
				<%= link_to(edit_notebook_test_path(test.notebook, test.id), { class:"note-entry-panel-item", 'data-toggle':"tooltip", 'data-placement':"top", 'title':"Edit" }) do %>
					<i class="material-icons-sharp my-auto">edit</i>
				<% end %>
			<% end %>
		</div>
		<div class="note-entry-panel-shade"></div>
	</div>
	<div class="note-entry-panel-container bg-primary">
		<div class="note-entry-panel bg-primary">
			<% if current_user.try(:id) == test[:owner] %>
				<%= link_to(notebook_test_path(test.notebook, test.id), { method: :delete, class:"note-entry-panel-item", 'data-toggle':"tooltip", 'data-placement':"top", 'title':"Delete" }) do %>
					<i class="material-icons-sharp my-auto">delete</i>
				<% end %>
			<% end %>
		</div>
		<div class="note-entry-panel-shade"></div>
	</div>
	<div class="note-entry-panel-container">
		<div class="note-entry-panel">
			<div class="note-entry-panel-item note-entry-panel-item-no-link">
				<p class="text-overflow text-secondary mx-2 my-auto" style="height:20px;"><b><%= test.name %></b></p>
			</div>
		</div>
		<div class="note-entry-panel-shade"></div>
	</div>
	<div class="note-entry-panel-container flex-fill">
		<div class="note-entry-panel w-100">
			<div class="note-entry-panel-item note-entry-panel-item-no-link w-100">
				<p class="text-overflow text-secondary mx-2 my-auto" style="height:20px;"><%= test.description %></p>
			</div>
		</div>
		<div class="note-entry-panel-shade"></div>
	</div>
	<div class="note-entry-panel-container bg-primary">
		<div class="note-entry-panel bg-primary">
			<div class="note-entry-panel-item note-entry-panel-item-no-link" data-toggle="tooltip" data-placement="top" title="Time Limit">
				<i class="material-icons-sharp ml-2 my-auto">access_time</i>
				<p class="text-overflow text-white mx-2 my-auto" style="height:20px;"><b><%= test.time_limit %></b></p>
			</div>
		</div>
		<div class="note-entry-panel-shade"></div>
	</div>
	<div class="note-entry-panel-container bg-primary">
		<div class="note-entry-panel bg-primary">
			<div class="note-entry-panel-item note-entry-panel-item-no-link" data-toggle="tooltip" data-placement="top" title="Questions in Total">
				<i class="material-icons-sharp ml-2 my-auto">help</i>
				<p class="text-overflow text-white mx-2 my-auto" style="height:20px;"><b><%= test.questions.length %></b></p>
			</div>
		</div>
		<div class="note-entry-panel-shade"></div>
	</div>
	<div class="note-entry-panel-container note-entry-panel-right bg-primary">
		<div class="note-entry-panel note-entry-panel-right bg-primary">
			<div class="note-entry-panel-item note-entry-panel-item-no-link note-entry-panel-right" data-toggle="tooltip" data-placement="top" title="Test" >
				<i class="material-icons-sharp mx-2 my-auto">
					assignment
				</i>
			</div>
		</div>
		<div class="note-entry-panel-shade note-entry-panel-right"></div>
	</div>
<% end %>
</div>