<!DOCTYPE html>
<html class="h-100">
  <head>
    <title>Self-Taught Application</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="w-100 h-100 mh-100" style="background-color: #E2E2E2;">
		<%= yield %>
  </body>
</html>
