<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <title><%= $app_title %> App</title>


  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<!-- Navigation -->
<div class="container-fluid padding bg-white border-bottom border-secondary sticky-top">
<div class="row">
  <a href="#" class="border-right border-secondary">
    <div class="mx-2 my-auto">
      <%= image_tag "mini-logo.svg", class: "app-nav-brand-link", style: "width: 48px; height: 48px;" %>
    </div>
  </a>
  <a href="#" class="app-nav-brand-link d-none d-sm-block text-dark my-auto">
    <p class="app-nav-brand-link mx-2 my-auto" style="font-size: 20px; font-family:'Gilligan Shutter';">Self-Taught App</p>
  </a>
  <div class="ml-auto">
    <div class="d-inline-block h-100">
      <span class="d-inline-flex flex-column justify-content-center h-100">&nbsp;</span>
      <a href="#" class="app-nav-item-link d-none d-lg-inline-flex flex-column justify-content-center text-secondary h-100">
        <span class="mx-2">Home</span>
      </a>
      <a href="#About" class="app-nav-item-link d-none d-lg-inline-flex flex-column justify-content-center text-secondary h-100">
        <span class="mx-2">About</span>
      </a>
      <a href="#Pricing" class="app-nav-item-link d-none d-lg-inline-flex flex-column justify-content-center text-secondary h-100">
        <span class="mx-2">Pricing</span>
      </a>
      <a href="#Team" class="app-nav-item-link d-none d-lg-inline-flex flex-column justify-content-center text-secondary h-100">
        <span class="mx-2">Team</span>
      </a>
      <a href="#Developer" class="app-nav-item-link d-none d-lg-inline-flex flex-column justify-content-center text-secondary h-100">
        <span class="mx-2">Developer</span>
      </a>
    </div>
    <div class="d-inline-block mr-2">
      <button class="btn btn-sm btn-outline-primary">Login</button>
      <button class="btn btn-sm btn-primary">Sign Up</button>
      <button class="btn btn-sm btn-dark" type="button"><i class="material-icons md-18 align-middle">search</i></button>
      <button class="btn btn-sm btn-dark" type="button"><i class="material-icons md-18 align-middle">more_horiz</i></button>
    </div>
  </div>
</div>
</div>

<!-- Control Panel Sidebar -->

<!-- Remaining Page -->
<%= yield %>

<!-- Footer -->
<footer>
<div class="container-fluid padding text-light bg-dark">
<div style="height:8px;"></div>
<div class="row text-center">
  <div class="col-12">
    <h6>SelfTaughtApp.com &copy; <%= Date.today.year %></h6>
</div>
</div>
</footer>
</body>
</html>
